
# Jetbrains Rider personal-layer settings
*.DotSettings.user

# Visual Studio cache directory
.vs/

# Rider cache directory
.idea/

# Gradle cache directory
.gradle/

# Ignore server builds
[Dd]ebug
[Rr]elease
x64
[Bb]in
[Oo]bj